<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Speech color changer</title>

    <link rel="stylesheet" href="./style.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1>Dapatkan Waktu Salat di Kota Anda</h1>
    <h3>Cukup dengan mengatakan [NAMA KOTA] dan [WAKTU SALAT]</h3>
    <p> 1. Tekan/klik layar Anda.</p>
    <p> 2. Katakan nama kota dan informasi waktu salat yang ingin Anda dapatkan </p>
    <br/><br/>
    <section>
        <p class="output"><em>nama kota dan waktu shalat</em></p>
    </section>
    <form action="" method = "post">
      <input id = "spokenRes" name = "spokenRes" type="" value ="" placeholder = "Please Speak!">
    <input type = "submit" value = "Submit">
    </form>

    <script src="./script.js"></script>
  </body>
</html>
